/*pseudoclass*/
:root{
    /*primary colors*/
    --primary: #39A900; /*corporate green*/

    /*secundary colors*/
    --secundary: #007832; /*dark green*/
    --blueSena:#00304D;
    --blueSenaC:#50E5F9;
    --yellowSena:#FCD300;
    --purpleSena:#71277A;

    /*neutral colors*/
    --white: #FFFFFF;
    --dark: #000000;
    --gray:#F6F6F6;
    --main-font: 3.8rem; /* 10 px = 1rem*/
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*,*:before,*:after{
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Work Sans';
    background-color: powderblue;
    background-image: linear-gradient(to top, var(--gray) 70%,var(--white)100%);
}

h1 span {
    font-size: 2rem;
}

h1 {
    color: var(--primary);
    text-align: center;
    font-size: var(--main-font);
}

h2 {
    color: #39A900;
    text-align: center;
    font-size: 2.8rem;

}

h3 {
    color: #39A900;
    text-align: center;
    font-size: 1.8rem;
}

p {
}

form {
}

/*class*/
.customer {
}

/* . for class*/
.tittle {
    color: var(--primary);
    font-size: var(--main-font); 
    font-family: 'krub',Arial, Helvetica, sans-serif; /* '' for get font external*/
    text-align: center;
}

.tittle span{
    font-size: 2rem;
}

h1.tittle span {              /*especificidad da prioridad a las que poseen mas parametros*/
    font-size: 2rem;
    color: var(--secundary);
}

.main-navigation{
    background-color: var(--secundary);
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-between;
}

.main-navigation a{
    /*background-color: var(--primary);*/
    display: inline;
    text-decoration: none;
    color: var(--white);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 1rem;
}

.main-navigation a:hover{
    background-color: var(--primary);
    color: var(--dark);
}

.container{
    width: 120rem; /*1200 px*/
    margin: 0 auto;
    /*margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

    margin: 0 auto 0 auto;*/
}

.bg-nav{
    background-color: var(--secundary);
}

.bg{
    background-image: url(../Images/foto_clem2.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    height: 410px;
    position: relative;
    top: 0;
}

.bg-content{
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    background-color: rgba(0 0 0 /70%);
    width: 100%;
    height: 100%;  
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg-content h2, .bg-content p{
    color: var(--white);
}

.location{
    display: flex;
    align-items: flex-end;
}

.buttom{
    background-color: var(--secundary);
    color: var(--white);
    padding: 1rem 3rem;
    font-size: 2rem;
    text-decoration: none;
    border-radius: .5rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 90%;
    text-align: center;
    cursor: pointer;
}

.shadow{
    -webkit-box-shadow: 10px 15px 50px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 15px 50px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 15px 50px 0px rgba(0,0,0,0.75);
    background-color: var(--white);
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
}

.services{
  
    display: grid;
    /*grid-template-columns: repeat(3,1fr);
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-columns: 33.3% 33.3% 33.3% ;

    grid:200px 600px/300px 300px;

    grid-template-columns: 300px 300px;
    grid-template-rows: 200px 800px;*/
}


.services.main-navigation{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service h3{
    
}

.service p{
    line-height: 1.5;
    text-align: justify;
    padding: 2rem;
}

.icons{
    height: 5rem;
    width: 5rem;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form1{
    background-color: var(--white);
    width: min(60rem,100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;

}

.login{
    display: flex;
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar elementos horizontalmente */
}



.form1 fieldset{
    border: none;
}

.form1 legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primary);
}

.field-container{
    display: grid;
}

.field{
    margin-bottom: 1rem;
}

.field label{
    color: var(--secundary);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;

}

.field input{
    background-color: var(--gray);
}

.field input[type="text"]{  /*Especify field type text*/
    background-color: var(--gray);
}

.field textarea{
    background-color: var(--gray);
    height: 10rem;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.2rem;
    border-radius: .5rem;
}

.send.buttom{
    width: 100%;
}


.foot{
    text-align: center;
    font-size: 1.3rem;
}

@media (min-width: 480px){

}


@media (min-width: 768px){
    .main-navigation{
        flex-direction: row;
    }
    .buttom{
        width: auto;
    }
    .services{
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
    }
    .field-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    .field:nth-child(3), .field:nth-child(4) {
        grid-column: 1 / 3;
    }
}

@media (min-width: 1020) {
    body{
        background-color: red;
    }
}

@media (min-width: 1120 ) {
    body{
        background-color: purple;
    }
}

/*id
#customer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*/

/* # for id  
#tittle {
    color: #39A900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 3.8rem; 
}
*/
